
header {
	position: fixed;
	width: 100%; 
	//background: #BD1550; 
	margin-top:9px;
	// box-shadow: 
	// 	0 -3px 0 0 #f99f0e, /*orange*/
	// 	0 -6px 0 0 #f8ca00, /*yellow*/
	// 	0 -9px 0 0 #81b519 /*green*/
	// 	/*,0px 1px 1px 0px rgba(50, 50, 50, 0.63)*/;

	h1 {
		float: left; 
		font-size: 1rem; 
		margin: 0;

		a {
			color: #F99F0E; 
			text-decoration: none;
		}
		
		span {
			display: block; 
			padding-left: 1rem;

			&:last-of-type {
				color: #F8CA00; 
				margin-top:-7px
			}
		}
		
	}		
}
